{% extends 'tom_common/base.html' %}
{% load bootstrap4 static crispy_forms_tags observation_extras targets_extras %}
{% block title %}Submit Observation{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_common/css/main.css' %}">
<link rel="stylesheet" href="{% static 'tom_observations/css/main.css' %}">
{% endblock %}
{% block content %}

{{ form|as_crispy_errors }}
<h1>Submit Request to W. M. Keck Observatory for <a href="">{{target.name}}</a></h1>


{% if target.type == 'SIDEREAL' %}
<div class="row">
    <div class="col">
        <p>This is where we might put some visibility windows.</p>
        <a href="{{ keke_url }}" target="_blank">Open Keck ToO Tool</a>
    </div>
</div>
{% endif %}

<div class="row">
    <!-- Column 1 -->
    <div class="col-md-4">
        <p><b>Submitting credential:</b> <em>{{ username }}</em></p>
        <hr>
        <h4>Target Information</h4>
        {% target_data target %}
        <hr>
        <p><em>TOM Toolkit Facility (<a target="_blank"
                    href="https://github.com/KeckObservatory/tom_keck">tom_keck</a>)</em></p>
    </div>
    <!-- Column 2 -->
    <div class="col-md-6">
        <!-- Tab panes -->
        {% for observation_type, observation_form in observation_type_choices %}
        <div id="{{ observation_type }}">
            {% crispy observation_form %}
        </div>
        {% endfor %}
    </div>
</div>
</div>

{% endblock %}